{% extends 'base.html' %}
{% block 'titulo'%} Cadastro de aula {% endblock %}
{% block 'conteudo' %}
<div class="principal-box-cad">
    <h1>
        Cadastrar aula
    </h1>
    <div>
        <form class='principal-box-form' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-box">
                <div class="form-cadastro">
                    <h3>Aula</h3>
                    {{ criar_aula }}
                </div>
                <div class="form-cadastro">
                    <h3>Atividade</h3>
                    {{ criar_atividade}}
                </div>
            </div>
            <button class="btn-cadastro" type="submit">Cadastrar</button>
        </form>
    </div>
</div>


{% endblock %}