{% extends 'base.html' %}
{% block 'titulo'%} Blog {% endblock %}
{% block 'conteudo' %}


<div class="box-principal-blog">
    <form class="atividade-aula-form" method="POST">
        {% csrf_token %}
        {% for questao_id, questao in lista_questoes.items %}
        <div class="atividade-aula-questao">
            {% for frase, alternativas in questao.items %}
            <p>{{ frase }}</p>
            <div class="atividade-aula-respostas">
                {% for alternativa in alternativas %}
                <label class="label-alternativa" for="alternativa-{{questao_id}}-{{alternativa}}">
                    <input type="radio" name="{{ questao_id }}" id="alternativa-{{questao_id}}-{{alternativa}}"
                        value="{{alternativa}}">
                    {{ alternativa }}</label>


                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <button class='btn-cadastro' type="submit">Enviar</button>
    </form>


</div>

{% endblock %}