{% extends 'base.html' %}

{% block 'conteudo' %}
<div class="box-aula-professor">
    <div class="principal-box-atualiza-aula">
        <form class="box-att-aula" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-aula">
                <div class="midia-aula">
                    <input class="input-none" type="file" name="class-image" id="class-image"
                        onchange="fileSelected(this)">
                    <img class="x" src="{{ aula.img_aula.url }}" id="image-class-btn" alt="">
                    <input class="input-none" type="file" name="class-video" id="class-video">
                    <video class="x" controls="controls" autoplay="autoplay" id="class-video-btn">
                        <source src="{{ aula.aula_gravada.url}}" id='video' type="video/mp4">
                    </video>
                </div>
                <div class="conteudo-aula">
                    <h3>Atualizar aula</h3>
                    <label for="id_aula">Aula</label>
                    <input type="text" name="aula" value="{{aula.aula}}" maxlength="250" id="id_aula">
                    <label for="id_conteudo">Conteudo</label>
                    <textarea name="conteudo" cols="40" rows="10" id="id_conteudo">{{aula.conteudo}}</textarea>
                    <button class="btn-cadastro" type="submit">Atualizar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="box-principal-aula">
        <div class="box-video-aula">
            <h2>{{ aula }}</h2>
            <div>

            </div>
        </div>

        <div class="box-conteudo-aula">
            <div class="box-conteudo">
            </div>
            <div class="box-conteudo">
                <h2>Palavras</h2>
                {% if not palavras_aula %}
                <p>Não há palavras cadastradas</p>
                {% endif %}
                {% for palavra in palavras_aula%}
                <a class="aula-palavra" href="/ensino/lingua/palavra/{{palavra.id}}/">
                    <p>{{palavra}}</p>
                </a>
                {% endfor %}
                <a class='btn-cadastro' href="{{ aula.id }}/add_palavra">Adicionar palavras</a>
            </div>
        </div>
        <div class="box-conteudo-aula">
            {% if not tem_atividade %}
            <a class='btn-cadastro' href="{{ aula.id }}/adiciona_atividade">Adicionar atividade</a>
            {% endif %}
        </div>
    </div>
</div>

<script>
    {
        $('#image-class-btn').click(function () {
            $('#class-image').click()
        })
        $('#class-image').change(function () {
            $('#image-class-btn').attr('src', window.URL.createObjectURL($('#class-image').prop('files')[0]))
        })
    }
    {
        $('#class-video-btn').click(function () {
            $('#class-video').click()
        })
        $('#class-video').change(function () {
            $('#video').attr('src', window.URL.createObjectURL($('#class-video').prop('files')[0]))
            $('#class-video-btn')[0].load()
        })
    }

</script>
{% endblock %}