{% extends 'base.html' %}

{% block 'conteudo' %}
<div class="box-aula-professor">
    <div class="box-principal-aula">
        <div class="bem-vindo-label">
            <p>Seja bem vindo {{ request.session.usuario_logado.nome}}{{request.session.usuario_logado.sobrenome }} !
            </p>
            <p>Você está na aula {{ aula }} </p>
            <a href="{{ aula.id }}/add_palavra">adicionar palavras</a>
            <a href="{% url 'ensino:add_questao' %}">criar questao</a>
            <a href="{{ aula.id }}/adiciona_atividade">Adicionar atividade</a>
        </div>
        <div class="box-video-aula">
            <h2>{{ aula }}</h2>
            <div>
                <video controls="controls" autoplay="autoplay">
                    <source src="{{ aula.aula_gravada.url}}" type="video/mp4">

                </video>
            </div>
            <span>Professor: {{ aula.professor }}</span>
        </div>

        <div class="box-conteudo-aula">
            <div class="box-conteudo">
                <h2>Contéudo da aula</h2>
                <p>{{ aula.conteudo }}</p>
            </div>
            <div class="box-conteudo">
                <h2>Baixe o conteúdo da aula</h2>
                <a href="{{ aula.conteudo_download.url}}" target="_blank">documento de {{ aula }}</a>
            </div>
        </div>
    </div>
    <div class="principal-box-cad">
        <h1>
            Atualizar cadastro
        </h1>
        <div>
            <form class="principal-box-form" method="POST">
                {% csrf_token %}
                <div class="form-box">
                    <div class="form-cadastro">
                        <h3>Atualizar aula</h3>
                        {{ form }}
                    </div>
                </div>
                <button class="btn-cadastro" type="submit">Atualizar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}