{% extends 'base.html' %}

{% block 'conteudo' %}
<div class="box-aula-professor">
    <div class="box-principal-aula">
        <div class="box-video-aula">
            <h2>{{ aula }}</h2>
            <div>
                <video controls="controls" autoplay="autoplay">
                    <source src="{{ aula.aula_gravada.url}}" type="video/mp4">

                </video>
            </div>
        </div>

        <div class="box-conteudo-aula">
            <div class="box-conteudo">
                <h2>Contéudo</h2>
                <p>{{ aula.conteudo }}</p>
                <a class="btn-cadastro" href="{{ aula.conteudo_download.url}}" target="_blank">Baixar conteúdo</a>
            </div>
            <div class="box-conteudo">
                <h2>Palavras</h2>
                {% if not palavras_aula %}
                <p>Não há palavras cadastradas</p>
                {% endif %}
                {% for palavra in palavras_aula%}
                <a class="aula-palavra" href="/ensino/lingua/palavra/{{palavra.id}}/">
                    <p>{{palavra}}</p>
                </a>
                {% endfor %}
                <a class='btn-cadastro' href="{{ aula.id }}/add_palavra">Adicionar palavras</a>
            </div>
        </div>
        <div class="box-conteudo-aula">
            <a class='btn-cadastro' href="{{ aula.id }}/adiciona_atividade">Adicionar atividade</a>
        </div>
    </div>

    <div class="principal-box-atualiza-aula">
        <form class="principal-box-form" method="POST">
            {% csrf_token %}
            <div class="form-inputs">
                <div class="form-inputs-div">
                    <h3>Atualizar aula</h3>
                    {{ form }}
                </div>
            </div>
            <button class="btn-cadastro" type="submit">Atualizar</button>
        </form>
    </div>
</div>
{% endblock %}