{% extends 'base.html' %}
{% load static %}
{% block 'titulo'%} {{aula}} {% endblock %}
{% block 'nav-bar-aula' %}
{% include 'parcial/_menu_aula.html' %}
{% endblock %}

{% block 'conteudo' %}
<div class="box-principal-aula">
    <div class="box-video-aula">
        <div>
            <h2>{{ aula }}</h2>
            <p>{{ aula.autor_aula }}</p>
            <video controls="controls">
                <source src="{{ aula.aula_gravada.url}}" type="video/mp4">

            </video>
        </div>
    </div>

    <div class="box-conteudo-aula">
        <div class="box-conteudo">
            <h2>Contéudo</h2>
            <p>{{ aula.conteudo }}</p>
            <a class="btn-class" href="{{ aula.conteudo_download.url}}" target="_blank">Baixar conteúdo</a>
        </div>
        <div class="box-conteudo">
            <h2>Palavras</h2>
            {% if not palavras_aula %}
            <p>Não há palavras</p>
            {% endif %}
            {% for palavra, contexto in palavras_aula.items %}
            <a class="aula-palavra" href="/ensino/lingua/palavra/{{palavra.id}}/">
                <p>{{palavra}}</p>
            </a>
            <p class="aula-contexto">{{ contexto.contexto }}</p>
            {% endfor %}
        </div>

    </div>
    <!-- VIEW DO ALUNO -->



    <div>
        {% if atividade_concluida %}
        <h4>Atividade já concluida</h4>
        <p>nota: {{ atividade_concluida.nota }}</p>
        <p>Situação:
            {% if atividade_concluida.nota >= 70 %}
            aprovado
            {% else %}
            não aprovado
            {% endif %}
        </p>
        <a href="redo/atividade/{{ atividade_concluida.id }}">Refazer</a>
        {% else %}
        {% if atividade_aula%}
        <p>{{atividade_aula}}</p>
        <p>{{atividade_aula.id}}</p>
        <a href="atividade/{{atividade_aula.id}}">Acesse a atividade</a>
        {% endif %}

        {% endif %}

    </div>
</div>


{% endblock %}