{% extends 'base.html' %}
{% load static %}
{% block 'titulo'%} {{aula}} {% endblock %}

{% block 'nav-bar-aula' %}
<div class="nav-bar-aula-modulo show">
    <a class="titulo-modulo" href="/modulo/{{ modulo.pk}}">{{ modulo.modulo }}</a>
    <span class="btn-show"><img src="{% static 'imgs/ponteiro_verde.png' %}" alt=""></span>
</div>
<div class="nav-bar-aula-aulas show">
    <ul>

        {% for aula in aulas %}
        <li>
            <div>
                <a href="/ensino/aula/{{ aula.pk }}">{{ aula }}</a>
                <p class="nome-professor">{{ aula.autor }}</p>
            </div>

        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block 'conteudo' %}
<div class="box-principal-aula">
    <div class="box-video-aula">

        <div>
            <h2>{{ aula }}</h2>
            <p>{{ aula.autor_aula }}</p>
            <video controls="controls">
                <source src="{{ aula.aula_gravada.url}}" type="video/mp4">

            </video>
        </div>
    </div>

    <div class="box-conteudo-aula">
        <div class="box-conteudo">
            <h2>Contéudo</h2>
            <p>{{ aula.conteudo }}</p>
            <a href="{{ aula.conteudo_download.url}}" target="_blank">Baixar conteúdo</a>
        </div>

    </div>
    <!-- VIEW DO ALUNO -->



    <div style="color:white;">
        {% if atividade_concluida %}
        <h4>Atividade já concluida</h4>
        <p>nota: {{ atividade_concluida.nota }}</p>
        <p>Situação:
            {% if atividade_concluida.nota >= 70 %}
            aprovado
            {% else %}
            não aprovado
            {% endif %}
        </p>
        <a href="redo/atividade/{{ atividade_concluida.id }}">Refazer</a>
        {% else %}
        {% if atividade_aula%}
        <p>{{atividade_aula}}</p>
        <p>{{atividade_aula.id}}</p>
        <a href="atividade/{{atividade_aula.id}}">Acesse a atividade</a>
        {% endif %}

        {% endif %}

    </div>
</div>


{% endblock %}