{% extends 'base.html' %}
{% load static %}
{% block 'titulo'%} {{aula}} {% endblock %}


{% block 'conteudo' %}
<div class="box-principal-aula">
    <div class="box-video-aula">

        <div>
            <h2>{{ aula }}</h2>
            <p>{{ aula.autor_aula }}</p>
            <video controls="controls" autoplay="autoplay">
                <source src="{{ aula.aula_gravada.url}}" type="video/mp4">

            </video>
        </div>
    </div>

    <div class="box-conteudo-aula">
        <div class="box-conteudo">
            <h2>Contéudo</h2>
            <p>{{ aula.conteudo }}</p>
            <a href="{{ aula.conteudo_download.url}}" target="_blank">Baixar conteúdo</a>
        </div>

    </div>
    {% if request.session.usuario_logado.tipo_usuario_id == 3%}
    <div class="box-alunos-matriculados">
        <h2>Alunos matriculados e atividades recebidas</h2>
        {% for aluno_matriculado in alunos_matriculados %}
        <p>{{ aluno_matriculado }}</p>
        {% endfor %}
        {% if request.session.usuario_logado.professor_id == professor_responsavel.id %}
        <a href="atividade/{{  aula.aula.id }}">ATIVIDADES DOS ALUNOS</a>
        {% endif %}
    </div>
    {% if not request.session.modulo_aberto %}
    {% endif %}
    <!-- VIEW DO ALUNO -->
    {% elif request.session.usuario_logado.tipo_usuario_id == 1%}

    <div class="box-atividade-aula">
        <div class="box-conteudo">
            <h2>Atividade</h2>
            <p>{{ aula.aula.atividade.first.comentario }}</p>
            <div class="box-atividade-envia">
                <a href="{{ aula.aula.atividade.all.first.atividade_doc.url}}" target="_blank">Atividade</a>
                {% if not atividade_ja_enviada %}
                <a href="atividade/cadastro/{{ aula.aula.atividade.all.first.id }}">Enviar atividade</a>
                {% else %}
                {% if not atividade_ja_enviada.first.envio_definitivo %}
                <a href="atividade/atualizar/{{ atividade_ja_enviada.first.id }}">Reenviar atividade</a>
                {% else %}
                <p>Atividade já foi enviada por definitivo</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}