{% extends 'base.html' %}
{% block 'titulo'%}Publicação de notícia{% endblock %}
{% block 'conteudo' %}
{% block 'menu-lingua' %}
{% include 'parcial/_menu_lingua.html' %}
{% endblock %}
<div class="principal-box-dict">
    <div class="dict-box-grande dict">
        <form method="GET" action="/ensino/busca/{{lingua.id}}/">
            <input type="search" value="" id="search-input" placeholder="search you word here" name="palavra">
        </form>
    </div>
    <div class="dict-box-pequena">
        {% include 'parcial/_recent_words.html' %}
    </div>
</div>

{% endblock %}