{% extends 'base.html' %}
{% load filters %}
{% block 'titulo'%} Blog {% endblock %}
{% block 'conteudo' %}


<div class="box-principal-blog">
    <div class="principal-box-lingua">
        {% for nivel, aulas in niveis.items %}
        {% if nivel_usuario >= nivel.valor_nivel|convert_int %}
        <div class="nivel desbloqueado">
            {% else %}
            <div class="nivel bloqueado">
                {% endif %}
                <a class="nivel-licenciado" href="{{nivel.id}}/nivel/{{lingua.id}}">
                    {% if lingua.lingua_img %}
                    <img src="{{ lingua.lingua_img.url}}" alt="">
                    {% endif %}
                    Modulo {{ nivel }}
                </a>
                <div class="nivel-n-licenciado">
                    {% for aula in aulas %}
                    <a class="nivel-aula" href="/ensino/aula/{{ aula.id }}">
                        {% if aula.img_aula %}
                        <img src="{{ aula.img_aula.url }}" alt="">
                        {% endif %}
                        {{ aula }}
                    </a>
                    {% endfor %}
                </div>

            </div>
            {% endfor %}
        </div>
        <div>
            <h2>dicionario</h2>
            <a class="btn-cadastro" href="{{ lingua.id }}/palavra/cadastro">Criar
                palavra</a>
            <a href="{{ lingua.id }}/dicionario" class="btn-cadastro">dict</a>
        </div>
    </div>

    {% endblock %}