{% extends 'base.html' %}
{% block 'titulo'%} Blog {% endblock %}
{% block 'conteudo' %}


<div class="box-principal-blog">
    <div class="menu-linguas">

        {% for lingua in linguas%}
        <div class="menu-lingua-box">
            <a href="lingua/{{ lingua.id }}">
                {% if lingua.lingua_img %}
                <img src="{{ lingua.lingua_img.url }}" alt="">
                {% endif %}
                <h2>{{lingua}}</h2>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}