{% extends 'base.html' %}
{% load static %}
{% block 'titulo'%} Meu ensino {% endblock %}
{% block 'conteudo' %}
<div class="principal-box-minhas-aulas">
    <div class="meu-ensino">
        <div class="meu-ensino-unidade">
            <div class="label-normais">
                <h1>Aulas</h1>
                <span class="btn-show"><img src="{% static 'imgs/ponteiro_roxo_baixo.png' %}" alt=""></span>
            </div>

            {% if linguas %}
            <div class="meu-ensino-normais show">
                {% for lingua, niveis in linguas.items %}
                <div class="meu-ensino-lingua">
                    <h1>{{ lingua }}</h1>
                    {% for nivel, aulas in niveis.items %}
                    <h2>{{ nivel }}</h2>
                    <div class="menu-ensino-nivel">
                        {% for aula in aulas %}
                        <a href="meu_ensino/aula/{{ aula.id }}">
                            <div class="meu-ensino-aula">
                                {% if aula.img_aula %}
                                <img src="{{ aula.img_aula.url}}" alt="">
                                {% endif %}
                                <p>{{aula}}</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% else %}
            {% include 'parcial/_cadastre_aula.html' %}
            {% endif %}
        </div>
        <div class="meu-ensino-unidade">
            <div class="label-licenciadas">
                <h1>Aulas licenciadas</h1>
                <span class="btn-show"><img src="{% static 'imgs/ponteiro_roxo_baixo.png' %}" alt=""></span>
            </div>
            {% if licenced_linguas %}
            <div class="meu-ensino-licenciadas show">
                {% for lingua, niveis in licenced_linguas.items %}
                <div class="meu-ensino-lingua">
                    <h1>{{ lingua }}</h1>
                    {% for nivel, aulas in niveis.items %}
                    <h2>{{ nivel }}</h2>
                    <div class="menu-ensino-nivel">
                        {% for aula in aulas %}
                        <a href="meu_ensino/aula/{{ aula.id }}">
                            <div class="meu-ensino-aula">

                                {% if aula.img_aula %}
                                <img src="{{ aula.img_aula.url}}" alt="">
                                {% endif %}
                                <p>{{aula}}</p>

                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% else %}
            {% include 'parcial/_cadastre_aula.html' %}
            {% endif %}
        </div>
        <div class="meu-ensino-unidade">
            <div class="label-questoes">
                <h1>Questões</h1>
                <span class="btn-show"><img src="{% static 'imgs/ponteiro_roxo_baixo.png' %}" alt=""></span>
            </div>

            {% if lista_questoes %}
            <div class="meu-ensino-questoes show">
                {% for lingua, niveis in lista_questoes.items %}
                <h1>{{ lingua }}</h1>
                {% for nivel, questoes in niveis.items %}
                <h2>{{ nivel }}</h2>
                <div class="menu-ensino-questoes">
                    {% for questao in questoes %}
                    <div class="questoes-ind">
                        <a href="questao-update/{{ questao.id }}">
                            <p>{{ questao.frase }}</p>
                        </a>
                    </div>

                    {% endfor %}
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            {% else %}
            <div class="sem-aula">
                <p>Ainda não cadastrou uma questão? &nbsp;&nbsp;</p>
                <a href="{% url 'ensino:add_questao' %}">Cadastre aqui!</a>
            </div>
            {% endif %}
        </div>

    </div>
    <div>
        <div class="meu-ensino-aux">
            <a class="btn-cadastro" href="{% url 'ensino:cadastro_aula' %}">Cadastrar aula</a>
            <a class="btn-cadastro" href="{% url 'ensino:palavra_cadastro' %}">Cadastrar palavra</a>
            <a class="btn-cadastro" href="{% url 'ensino:add_questao' %}">Cadastrar questão</a>
        </div>
        <div>

        </div>
    </div>



</div>
{% endblock %}