{% extends 'base.html' %}
{% load static %}
{% block 'titulo'%} {% endblock %}

{% block 'nav-bar-aula' %}
{% include 'parcial/_menu_aula.html' %}

{% endblock %}

{% block 'conteudo' %}

<!-- ALUNO -->
<div class="principal-box-meu-painel">

    <div class="box-modulo-painel">
        <div class="modulo-info">
            <h2>{{ modulo }}</h2>
            <p>{{ modulo.lingua }}</p>
            <img src="{{ modulo.img_modulo.url }}" alt="">
            <div class="box-conteudo-aula">
                <div class="box-conteudo">
                    <h2>Descrição</h2>
                    <p>{{ modulo.descricao }}</p>
                </div>
                <div class="box-conteudo">
                    <h2>Palavras</h2>
                    {% if not palavras_modulo %}
                    <p>Não há palavras</p>
                    {% endif %}
                    {% for palavra, contexto in palavras_modulo.items %}
                    <a class="aula-palavra" href="/ensino/lingua/palavra/{{palavra.id}}/">
                        <p>{{palavra}}</p>
                    </a>

                    <p class="aula-contexto">{{ contexto.contexto }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div>
            <h2>Aulas</h2>
            <div class="modulo-aulas">
                {% for aula in aulas %}
                <a href="/ensino/aula/{{ aula.id }}">
                    <div class="modulo-aula">
                        {% if aula.img_aula %}
                        <img src="{{ aula.img_aula.url}}" alt="">
                        {% endif %}
                        <p>{{aula}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}