{% extends 'base.html' %}
{% load static %}
{% block 'titulo'%} {% endblock %}

{% block 'nav-bar-aula' %}
<div class="nav-bar-aula-modulo show">
    <a class="titulo-modulo" href="/modulo/{{ modulo.pk}}">{{ modulo.modulo }}</a>
    <span class="btn-show"><img src="{% static 'imgs/ponteiro_verde.png' %}" alt=""></span>
</div>
<div class="nav-bar-aula-aulas show">
    <ul>

        {% for aula in aulas %}
        <li>
            <div>
                <a href="/ensino/aula/{{ aula.pk }}">{{ aula }}</a>
                <p class="nome-professor">{{ aula.autor }}</p>
            </div>

        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block 'conteudo' %}

<!-- ALUNO -->
<div class="principal-box-meu-painel">

    <div class="box-modulo-painel">
        <div>
            <img src="{{ modulo.img_modulo.url }}" style="max-width: 50%;" alt="">
            <h1>{{ modulo }}</h1>

            <p></p>
        </div>
        <div>
            <h1>aulas</h1>
            {% for aula in aulas %}
            <a href="/ensino/aula/{{ aula.id }}">{{ aula }}</a>
            {% endfor %}
        </div>
        <div>
            <p>{{ modulo.descricao }}</p>
        </div>
    </div>
</div>
{% endblock %}