{% extends 'base.html' %}
{% block 'titulo'%}{{palavra}}{% endblock %}
{% block 'conteudo' %}
{% block 'menu-lingua' %}
{% include 'parcial/_menu_lingua.html' %}
{% endblock %}
<div class="principal-box-postagem">
    <div class="palavra-box">
        <div class="palavra-conteudo">
            <p class="palavra">{{ palavra }} <span>{{ palavra.classe }}</span></p>
            {% if palavra.escrita_fonetica %}
            <p class="escrita-fonetica">{{ palavra.escrita_fonetica }}</p>
            {% endif %}
            <p class="palavra-significado"><span>{{ palavra.nivel }}</span> {{ palavra.significado }}</p>
        </div>
        <div class="palavra-contexto">
            {% for contexto in contextos %}
            <ul>
                <li>
                    <p>{{ contexto.contexto }}</p>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
    <div class='sub-menu-palavra'>
        {% include 'parcial/_recent_words.html' %}
    </div>



</div>

{% endblock %}