{% extends 'base.html' %}
{% block 'titulo'%} Blog {% endblock %}
{% block 'conteudo' %}


<div class="box-principal-blog">
    <h1>teste add questao</h1>
    <form id="form-container" method="POST">
        {% csrf_token %}
        {{ add_alternativa.management_form }}
        {{ add_questao }}
        {% for form_alternativa in add_alternativa %}
        <div class="alternativa">

            {{ form_alternativa.as_p }}

        </div>
        {% endfor %}

        <button id="add-form" type="button">+</button>
        <button type="submit">adicionar questao</button>

    </form>


</div>

<script>
    let alternativa_form = document.querySelectorAll(".alternativa")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_alternativa_set-TOTAL_FORMS")

    let formNum = alternativa_form.length - 1
    addButton.addEventListener('click', addForm)

    function addForm(e) {
        e.preventDefault()

        let newForm = alternativa_form[0].cloneNode(true)
        let formRegex = RegExp(`alternativa_set-(\\d){1}-`, 'g')
        console.log(formRegex)

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `alternativa_set-${formNum}-`)
        container.insertBefore(newForm, addButton)

        totalForms.setAttribute('value', `${formNum + 1}`)
    }
</script>

{% endblock %}