{% extends 'base.html' %}
{% block 'titulo'%} Blog {% endblock %}
{% block 'conteudo' %}


<div class="box-principal-blog">
    <p>{{ questao.frase }}</p>
    <form method="POST">
        {% csrf_token %}
        {% for alternativa in alternativas %}
        <input type="radio" name="alternativa" id="alternativa-{{alternativa}}" value="{{alternativa}}">
        <label for="alternativa-{{alternativa}}">{{ alternativa }}</label>
        {% endfor %}
        <button type="submit">Resposta</button>
    </form>

</div>
{% endblock %}