{% extends 'base.html' %}
{% block 'titulo'%} Publicar | Blog{% endblock %}
{% block 'conteudo' %}
{% block 'menu-lingua' %}
{% include 'parcial/_menu_lingua.html' %}
{% endblock %}
<div class="principal-box-postagem">
    <div class="principal-cad-postagem">
        <form class="cad-postagem" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-postagem">
                {{ form }}
                <button class="btn-cadastro" type="submit">Cadastrar</button>
            </div>
        </form>
    </div>

    <div>
        {% include 'parcial/_menu_lateral_forum.html' %}
    </div>

</div>

{% endblock %}