{% extends 'base.html' %}
{% block 'titulo'%} Publicar | Blog{% endblock %}
{% block 'conteudo' %}
<div class="principal-box-postagem">
    <div class="principal-cad-postagem">
        <div>
            <form class="principal-box-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-cadastro">
                    {{ form }}
                </div>
                <button class="btn-cadastro" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

    <div>
        <div class="pergunta-publicacao">
            <p>
                Você está no blog de {{ lingua }}
            </p>
            <a class="btn-cadastro" href="/blog/lingua/{{ lingua.id}}">Voltar ao blog</a>
        </div>
        <div class="postagens-recentes">
            <h3>Ultimas publicações</h3>
            {% for postagem_recente in postagens_recentes %}
            <a class="link-post-recent" href="{{ postagem_recente.id }}">{{ postagem_recente.titulo_postagem }}</a>
            <p class="autor-post-recent">
                Por {{ postagem_recente.autor.pessoa.nome }} {{ postagem_recente.autor.pessoa.sobrenome }}
            </p>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}