{% extends 'base.html' %}
{% block 'titulo' %} {{ postagem.titulo_postagem }} | Blog - {{ postagem.lingua }}{% endblock %}
{% block 'conteudo' %}
{% block 'menu-lingua' %}
{% include 'parcial/_menu_lingua.html' %}
{% endblock %}
<div class="principal-box-postagem">
    <div>
        <div class="box-postagem">
            <div class="dado-autor">
                <a href="/perfil/{{postagem.autor.id}}">
                    {% if postagem.autor.img_usuario %}
                    <img class="imagem-autor" src="{{ postagem.autor.img_usuario.url }}" alt="">
                    {% endif %}
                    <br>
                    <p>
                        {{ postagem.autor.pessoa.nome }}
                        {{postagem.autor.pessoa.sobrenome}}
                    </p>

                </a>
                <br>
                <span>{{ postagem.autor.tipo_usuario }}</span>
            </div>

            <div class="postagem">
                <h2>{{ postagem.titulo_postagem }}</h2>
                <span>Postado em {{postagem.data_postagem}}</span>
                <p>{{ postagem.conteudo_postagem|linebreaks }}</p>
                {% if postagem.imagem_postagem %}
                <img class="imagem-postagem" src="{{ postagem.imagem_postagem.url }}" alt="">
                {% endif %}
            </div>
        </div>

        <div class="principal-box-comentario">
            {% for comentario in comentarios%}
            <div class="box-comentario">
                <div class="dado-autor">
                    <a href="/perfil/{{comentario.autor.id}}">
                        {% if comentario.autor.img_usuario %}
                        <img class="imagem-autor" src="{{ comentario.autor.img_usuario.url }}" alt="">
                        {% endif %}
                        <br>
                        <p>
                            {{ comentario.autor.pessoa.nome }}
                            {{comentario.autor.pessoa.sobrenome}}
                        </p>
                    </a>
                    <br>
                    <span>{{ comentario.autor.tipo_usuario }}</span>
                </div>
                <div class='postagem'>
                    <span class="data-comentario">Postado em {{comentario.data_comentario}}</span>
                    <p>{{ comentario.conteudo_comentario|linebreaks }}</p>
                    {% if comentario.imagem_comentario %}
                    <img class="imagem-postagem" src="{{ comentario.imagem_comentario.url }}" alt="">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="box-fazer-comentario">
            <form class='cad-postagem' method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-postagem">
                    {{ form }}
                    <button class="btn-cadastro" type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        {% include 'parcial/_menu_lateral_forum.html' %}
    </div>
</div>
{% endblock %}