{% extends 'base.html' %}
{% block 'titulo'%} Blog {% endblock %}
{% block 'conteudo' %}
<div class="box-principal-blog">
    <div class="box-mensagens">
        {% for mensagem in mensagens %}

        {% if mensagem.autor.id == request.session.usuario_logado.usuario_id %}
        <div class="autor">
            <p>{{mensagem.texto|linebreaks }}</p>
            {% if mensagem.imagem_mensagem %}
            <img src="{{ mensagem.imagem_mensagem.url}}" alt="">
            {% endif %}
            <p>{{ mensagem.autor }} - {{ mensagem.data_envio}}</p>
        </div>
        {% else %}
        <div class="coautor">


            <p>{{mensagem.texto|linebreaks }}</p>
            <p>{{ mensagem.autor }} - {{ mensagem.data_envio}}</p>

        </div>
        {% endif %}
        {% endfor %}
    </div>
    <form class="box-escreve-msg " method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box-mensagem">
            <textarea class='textarea-mensagem' name="texto" cols="40" rows="10" required="" id="id_texto"></textarea>
            <div class='box-mensagem-btn'>
                <input type="file" name="asgnmnt_file" id="asgnmnt_file" onchange="fileSelected(this)">
                <a class="btn-conversa" onclick="passFileUrl()">Imagem</a>
                <button class="btn-conversa" type="submit">Cadastrar</button>
            </div>

        </div>
    </form>

</div>
<script>
    function passFileUrl() {
        document.getElementById('asgnmnt_file').click();
    }

    function fileSelected(inputData) {
        document.getElementById('asgnmnt_file_img').src = window.URL.createObjectURL(inputData.files[0])
    }
</script>
{% endblock %}