{% extends 'base.html' %}
{% block 'titulo'%} Conversa - {{ coautor.usuario}} {% endblock %}
{% block 'conteudo' %}
{% include 'parcial/_chat_list.html' %}
<h1>{{ request.session.conversa }}</h1>
<div class="box-principal-blog">
    <div class="info-coautor">
        <div>
            <a href="/perfil/{{coautor.usuario.id}}">
                <p>{{ coautor.usuario}}</p>
            </a>
            <span> {{ coautor.ultimo_acesso }}</span>
        </div>
        {% if coautor.usuario.img_usuario %}
        <a href="/perfil/{{coautor.usuario.id}}">
            <img class="coautor-img" src="{{ coautor.usuario.img_usuario.url}}" alt="">
        </a>

        {% endif %}
    </div>
    <div class="box-mensagens">
        {% for mensagem in mensagens %}
        {% if mensagem.autor.id == request.session.usuario_logado.usuario_id %}
        <div class="menssagem autor">
            <p>{{mensagem.texto|linebreaks }}</p>
            {% if mensagem.imagem_mensagem %}
            <img class="box-mensagem-imagem" src="{{ mensagem.imagem_mensagem.url}}" alt="">
            {% endif %}
            <span>{{ mensagem.data_envio}}</span>
        </div>
        {% else %}
        <div class="menssagem coautor">
            <p>{{mensagem.texto|linebreaks }}</p>
            <span>{{ mensagem.data_envio}}</span>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <form class="box-escreve-msg " method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box-mensagem">
            <textarea class='textarea-mensagem' name="texto" required="" id="id_texto"></textarea>
            <div class='box-mensagem-btn'>
                <input class="input-none" type="file" name="asgnmnt_file" id="chat-img-input"
                    onchange="fileSelected(this)">
                <a class="btn-conversa" id="chat-img-btn">Imagem</a>
                <button class="btn-conversa" type="submit">Enviar</button>
            </div>

        </div>
    </form>

</div>
<script>
    $('#chat-img-btn').click(function () {
        $('#chat-img-input').click()
    })


</script>
{% endblock %}