{% extends 'base.html' %}
{% block 'titulo' %}Blog - {{lingua}}{% endblock %}
{% block 'conteudo' %}
<div class="flex-container">
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <div class="input">
                    {{ form }}
                </div>

                <button class='btn' type="submit">Logar</button>
            </div>
        </form>
    </div>

    <div>
        <a href="{% url 'usuario:usuario_cadastro' %}">Cadastre-se</a>
    </div>
</div>

{% endblock %}