{% extends 'base.html' %}
{% block 'titulo'%}Atualizar dados pessoais {% endblock %}
{% block 'conteudo' %}
<div class="principal-box-cad">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-update">
            <div class="atualiza-imagem">
                <div>
                    <input type="file" name="asgnmnt_file" id="asgnmnt_file" onchange="fileSelected(this)">
                    <h3>Alterar foto</h3>
                    <img id="asgnmnt_file_img" src="{{ request.session.usuario_logado.img_usuario }}"
                        onclick="passFileUrl()">
                </div>
            </div>
            <div class="atualiza-dados">
                <div class="form-inputs-div">
                    <h3>Dados pessoais</h3>
                    <label for="id_nome">Nome</label>
                    <input type="text" name="nome" placeholder="{{ request.session.usuario_logado.nome}}"
                        maxlength="250" id="id_nome">
                    <label for="id_sobrenome">Sobrenome</label>
                    <input type="text" name="sobrenome" placeholder="{{ request.session.usuario_logado.sobrenome}}"
                        maxlength="250" id="id_sobrenome">
                </div>
                <div class="form-inputs-div tes">
                    <h3>Senha</h3>
                    <label for="senha_antiga_1">Senha antiga</label>
                    <input type="password" placeholder="••••••" name="senha_antiga_1">
                    <label for="senha_antiga_2">Confirmação de senha</label>
                    <input type="password" placeholder="••••••" name="senha_antiga_2">
                    <label for="senha">Senha nova</label>
                    <input type="password" placeholder="••••••" name="senha">
                </div>
                <button class="btn-cadastro" type="submit">Atualizar</button>
            </div>
        </div>
    </form>

</div>


<script>
    function passFileUrl() {
        document.getElementById('asgnmnt_file').click();
    }

    function fileSelected(inputData) {
        document.getElementById('asgnmnt_file_img').src = window.URL.createObjectURL(inputData.files[0])
    }
</script>

{% endblock %}