{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block 'titulo'%} {% endblock %}</title>


    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body class='site dark'>
    <div class="content">
        <div class='fixed-nav-bar'>
            <ul class="nav-ul-comum">
                <li><a href="{% url 'usuario:home' %}">Home</a></li>
                {% if request.session.usuario_logado %}
                <li><a href="{% url 'ensino:menu_linguas' %}">Línguas</a></li>
                <li><a href="{% url 'ensino:minhas_aulas' %}">Meu ensino</a></li>
                {% endif %}
            </ul>
            <ul class='nav-ul'>
                
                {% if request.session.usuario_logado.is_admin %}
                <li>
                    <p class="abre-cadastro">Cadastrar</p>
                    <ul class="drop-menu-cadastro high-dark">
                        <li><a href="{% url 'ensino:cadastro_lingua' %}">Cadastrar língua</a></li>
                        <li><a href="{% url 'forum:cadastro_noticia' %}">Cadastrar notícia</a></li> 
                    </ul>
                </li>
                {% endif %}
                
                <li>
                    {% if request.session.usuario_logado %}
                    <div class="abre-usuario">
                        <img class="usuario-img" src="{{ request.session.usuario_logado.img_usuario }}" alt="">
                    </div>    
                    <ul class="drop-menu-usuario high-dark">
                        <li><p class='muda-tema'>Mudar tema</p></li>
                        <li><a href="{% url 'usuario:update_infos' %}">Atualizar dados</a></li>
                        <li><a href="{% url 'usuario:logout' %}">Logout</a></li>
                        
                    </ul>
                    {% else %}
                    <a href="{% url 'usuario:login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    
        {% block 'nav-bar-aula' %}
        {% endblock %}
        {% block 'menu-lingua' %}
            {% endblock %}
    <div class="box-novo">
            {% block 'conteudo' %}
            
            {% endblock %}
    </div>
    
    </div>
    {% include 'parcial/_messages.html' %}
<footer>
</footer>
    <script type="text/javascript" src="{% static 'javascript/script.js' %}"></script>

</body>
</html>