<div class="menu-box-lingua">
    {% if postagem %}
    <a href="/ensino/lingua/{{postagem.lingua.id}}">
        {% else %}
        <a href="/ensino/lingua/{{ lingua.id }}">
            {%endif%}
            <p>Aulas</p>
        </a>
        {% if postagem %}
        <a href="/forum/lingua/{{postagem.lingua.id}}">
            {% else %}
            <a href="/forum/lingua/{{lingua.id}}">
                {%endif%}
                <p>Forum</p>
            </a>
            {% if postagem %}
            <a href="/ensino/lingua/{{postagem.lingua.id}}/dicionario">
                {% else %}
                <a href="/ensino/lingua/{{ lingua.id }}/dicionario">
                    {%endif%}
                    <p>Dicionário</p>
                </a>
</div>