{% load static %}
<div class="nav-bar-aula-modulo show">
    <a class="titulo-modulo" href="/modulo/{{ modulo.pk}}">{{ modulo.modulo }}</a>
    <span class="btn-show"><img src="{% static 'imgs/ponteiro_roxo_direita.png' %}" alt=""></span>
</div>
<div class="nav-bar-aula-aulas show">
    <ul>

        {% for aula in aulas %}
        <li>
            <div class="aula-ind">
                <a class='titulo-aula' href="/ensino/aula/{{ aula.pk }}">{{ aula }}</a>
                <p class="nome-autor">{{ aula.autor_aula }}</p>
            </div>

        </li>
        {% endfor %}
    </ul>
</div>